x-common-env: &common-env
  CELERIX_NAMESPACE: ${CELERIX_NAMESPACE}

services:
  mdns-responder:
    image: flungo/avahi
    restart: always
    network_mode: host
    environment:
      - SERVER_USE_IPV4=yes
      - SERVER_USE_IPV6=no
      - SERVER_HOST_NAME=celerix
      - SERVER_DOMAIN_NAME=local
  depot:
    container_name: celerix-depot
    build: .
    ports:
      - "8080:8080"
    volumes:
      - ./data:/app/data
      - ./data/uploads:/app/data/uploads
    environment:
      <<: *common-env
      DB_PATH: /app/data/depot.db
      STORAGE_DIR: /app/data/uploads
      ADMIN_SECRET: admin123
    restart: always
