x-common-env: &common-env
  CELERIX_NAMESPACE: ${CELERIX_NAMESPACE}

services:
  mdns-responder:
    image: flungo/avahi
    restart: always
    network_mode: host
    environment:
      - SERVER_USE_IPV4=yes
      - SERVER_USE_IPV6=no
      - SERVER_HOST_NAME=celerix
      - SERVER_DOMAIN_NAME=local
  depot:
    container_name: celerix-depot
    build: .
    ports:
      - "8080:8080"
    volumes:
      - ./data/uploads:/app/data/uploads
    environment:
      <<: *common-env
      STORAGE_DIR: /app/data/uploads
      ADMIN_SECRET: admin123
      CELERIX_STORE_ADDR: celerix-store:7001
    restart: always
    depends_on:
      - celerix-store
  celerix-store:
    container_name: celerix-store
    image: ghcr.io/celerix-dev/celerix-store:0.2.11
    ports:
      - "7001:7001"
      - "7002:7002"
    volumes:
      - ./data:/app/data
    environment:
      <<: *common-env